*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    text-align: center;
    margin: 25px 0 25px 0;
}
p{
    text-align: center;
    margin: 25px 0 25px 0;
}

#container{

    border:1px solid black;
    margin-left: 150px;
    width: 780px;
    height: 780px;
    min-width: 780px;
    min-height: 780px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
}
button,input,label{
    margin-right: 500px;
}
button{
    margin-bottom: 25px;
    width: 100px;
    height: 35px;
}
.box{
    border:1px solid black;
}
